* {
    color: @text;

    all: unset;
    font-size: 18px;
    font-family: "Inter";
    transition: 200ms;

}

/* Avoid 'annoying' backgroud */
.blank-window {  
    background: transparent;  
}

/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
    color: @text;
    background: alpha(@base, .7);
    border-radius: 10px;
    border: none;
    margin: 12px;
    padding: 12px;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
    color: @text;
    background-color: @mixed;
    border-radius: 12px;
    box-shadow: 5px 5px alpha(@base, 0.2);
    border: 1px solid alpha(@text, 0.1);
    margin: 4px 0px;
    padding: 4px;
}

.control-center .notification-row .notification-background .notification.critical {
    color: @yellow;
}

.control-center .notification-row .notification-background .notification .notification-content {
    color: @text;
    margin: 6px;
    padding: 8px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
    min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
    background: alpha(@selected, .6);
    color: @text;
    border-radius: 12px;
    margin: 6px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
    background: @tint;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
    background-color: @tint;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
    background: transparent;
    border-radius: 6px;
    color: @text;
    margin: 0px;
    padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
    background-color: @tint;
}

.control-center .notification-row .notification-background .close-button:active {
    background-color: @tint;
}

progressbar,
progress,
trough {
    border-radius: 12px;
}

progressbar {
    background-color: rgba(255,255,255,.1);
}

/* Notifications expanded-group */

.notification-group {
    margin: 2px 8px 2px 8px;

}
.notification-group-headers {
    font-weight: bold;
    font-size: 1.25rem;
    color: @text;
    letter-spacing: 2px;
}

.notification-group-icon {
    color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    background: transparent;
    color: @text;
    margin: 4px; 
    border-radius: 6px;
    padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
    background: @tint;
}  

/* WIDGETS --------------------------------------------------------------------------- */

/* Notification clear button */
.widget-title {
    color: @text;
    font-size: 2em;
    margin: 6px;
}

.widget-title button {
    background: @mixed;
    border-radius: 6px;
    padding: 4px 16px;
}

.widget-title button:hover {
    background-color: @tint;
}

.widget-title button:active {
    background-color: @tint;
}

/* Do not disturb */
.widget-dnd {
    color: @text;
    font-size: 2em;
    margin: 6px;
}

.widget-dnd > switch {
    background: @mixed;
    font-size: initial;
    border-radius: 8px;
    box-shadow: none;
    padding: 2px;
}

.widget-dnd > switch:hover {
    background: @tint;
}

.widget-dnd > switch:checked {
    background: @tint;
}

.widget-dnd > switch:checked:hover {
    background: @tint;
}

.widget-dnd > switch slider {
    background: @text;
        border-radius: 6px;
}

/* Buttons menu */
.widget-buttons-grid {
    color: @text;
    padding: 0;
    margin: 6px;
    border-radius: 12px;
    background: @mixed;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 6px;
    padding: 6px 26px;
    background: transparent;
    border-radius: 12px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    color: @tint;
}

.widget-buttons-grid>flowbox>flowboxchild>button:checked {
    color: @base;
    background: @text;
}

..widget-buttons-grid>flowbox>flowboxchild>text-button-toggle {
    color: @tint;
}

/* Music player */
.widget-mpris {
    background: @mixed;
    border-radius: 12px;
    color: @text;
    margin:  20px 6px;
}


/* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
    background-color: @mixed;
    border-radius: 12px;
    padding: 14px 14px;
    margin: 6px;
}

.widget-mpris > box > button {
    color: @text;
    border-radius: 20px;
}

.widget-mpris button {
    color: alpha(@text, .6);
}

.widget-mpris button:hover {
    color: @text;
}

.widget-mpris-album-art {
    border-radius: 12px;
}

.widget-mpris-title {
    font-weight: 700;
    font-size: 1rem;
}

.widget-mpris-subtitle {
    font-weight: 500;
    font-size: 0.8rem;
}

/* Volume */
.widget-volume {
    background: @green;
    color: @red;
    padding: 4px;
    margin: 6px;
    border-radius: 6px;
}
