* {
    color: @text;
    all: unset;
    font-size: 18px;
    font-family: "Inter";
    transition: 200ms;
}

/* Avoid 'annoying' backgroud */
.blank-window {  
    background: transparent;  
}

/* CONTROL CENTER ------------------------------------------------------------------------ */
.control-center {
    color: @text;
    background: alpha(@text, .0);
    border-radius: 10px;
    border: none;
    margin: 11px;
    padding: 12px;
}

.control-center-list-placeholder {
    color: transparent;
}

/* Notifications  */
.control-center .notification-row .notification-background {
    color: @text;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.control-center .notification-row .notification-background .notification {
    border-radius: 10px;
    border: 1px solid alpha(@text, .2);
    border-right: 10px solid alpha(@tint, .5);
    background-color: alpha(@black, .8);
    padding: 6px;
    margin: 6px;
}

.control-center .notification-row .notification-background .notification.critical {
    border-radius: 10px;
    border-right: 10px solid @yellow;
    padding: 6px;
}

.control-center .notification-row .notification-background .notification .notification-content {
    margin: 14px;
}

/* Buttons */
.control-center .notification-row .notification-background .close-button {
    margin: -2px 396px 0 0;
    padding: 2px 2px;
    border-radius: 18px;
    border: none;
    background-color: alpha(@text, .5);
}

.control-center .notification-row .notification-background .close-button:hover {
    color: @text;
}

.control-center .notification-row .notification-background .close-button:active {
    background-color: @red;
}

.notification-group-close-all-button {
    margin: 4px 12px; 
    padding: 4px 20px;
    border-radius: 10px;
    background-color: transparent;
    border: none;
}

.notification-group-close-all-button:hover { 
    background-color: alpha(@text, .5);
    color: @text;
}

.notification-group-close-all-button:active { 
    background-color: @red;
}

/* Notifications expanded-group */
.notification-group {
    margin: 6px;

}
.notification-group-headers {
    font-weight: bold;
    font-size: 1.2rem;
    color: @text;
}

.notification-group-icon {
    color: transparent;
}

.notification-group-collapse-button {
    margin: 4px; 
    padding: 4px 20px;
    border-radius: 10px;
    background: transparent;
    color: @text;
}

.notification-group-collapse-button:hover {
    background: alpha(@text, .5);
}  

.notification-group-collapse-button:active {
    background: alpha(@tint, .5);
}  

/* WIDGETS --------------------------------------------------------------------------- */

/* Notification clear button */
.widget-title {
    color: @text;
    font-size: 2em;
    font-weight: bold;
    margin: 6px;
}

.widget-title button {
    background: @transparent;
    border-radius: 18px;
    padding: 10px 10px;
}

.widget-title button:hover {
    color: @red;
}

.widget-title button:active {
    background-color: alpha(@text, .2);
}

/* Buttons menu */
.widget-buttons-grid {
    color: @text;
    padding: 0;
    margin: 6px;
    border-radius: 1em;
    background: transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    margin: 6px;
    min-width: 68px;
    min-height: 24px;
    padding: 12px;
    border-radius: 1em;
    background: @black;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    color: @tint;
    background: @base;
}

.widget-buttons-grid > flowbox > flowboxchild > button:checked {
    color: @base;
    background: @text;
}
