* {
    color:          @text;
    font-size:      18px;
    font-family:    "Inter";
    transition:     200ms;
    all:            unset;
}

/* Avoid 'annoying' backgroud */
.blank-window {  
    background:     transparent;  
}

/* CONTROL CENTER ------------------------------------------------------------------------ */
.control-center {
    color:          @text;
    background:     alpha(@white, 0.0);
    border-radius:  10px;
    border:         none;
    margin:         -8px 8px 10px 10px;
    padding:        12px;
}

.control-center-list-placeholder {
    color:          transparent;
}

/* Notifications  */
.control-center .notification-row .notification-background {
    color:          @text;
    border-radius:  10px;
    margin:         0px;
    padding:        0px;
}

.control-center .notification-row .notification-background .notification {
    background:     linear-gradient(0deg,rgba(40, 40, 40, .55) 40%, rgba(45, 45, 45, .55) 100%);
    color:          @text;
    border-radius:  10px;
    padding:        6px;
    margin:         10px;
    box-shadow:     -2px 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.control-center .notification-group-collapsed .notification-background .notification {
    background:     @red;
}

.control-center .notification-row .notification-background .notification.critical {
    border-right:   10px solid alpha(@yellow, .5);
}

.control-center .notification-row .notification-background .notification .notification-content {
    margin:         14px;
}

/* Notification group when collapsed */
.notification-group.collapsed .notification-row:not(:last-child) .notification-action *,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action * {
    opacity:        0;
}

/* Close Buttons */
.control-center .notification-row .notification-background .close-button {
    margin:         0px 454px 0 0;
    padding:        4px;
    border-radius:  18px;
    border:         1px solid alpha(@text, .2);
    background:     @text;
    color:          @base;
}

.control-center .notification-row .notification-background .close-button:hover {
    background:     @white;
}

.control-center .notification-row .notification-background .close-button:active {
    background:     @red;
    color:          @base;
}


/* Notifications expanded-group */
.notification-group {
    padding-top:    6px;
}


.notification-group-icon {
    margin:         30px 12px 12px 12px; 
    color:          transparent;
}

.notification-group-headers {
    color:          transparent;
    margin:         0;
}

.notification-group-close-all-button {
    background:     @text;
    color:          @base;
    margin:         30px 12px 0px 12px; 
    min-width:      1em;
    padding:        .5em;
    border-radius:  1em;
}

.notification-group-close-all-button:hover { 
    background:     @white;
}

.notification-group-close-all-button:active { 
    background:     @red;
    color:          @base;
}


.notification-group-collapse-button {
    background:     @text;
    margin:         30px 0px 0px 12px; 
    padding:        .5em 3em;
    border-radius:  1em;
    color:          @base;
}

.notification-group-collapse-button:hover {
    background:     @white;
    color:          @tint;
}  

.notification-group-collapse-button:active {
    background:     alpha(@black, .5);
}  

/* WIDGETS --------------------------------------------------------------------------- */

/* Notification clear button */
.widget-title {
    color:          @text;
    font-size:      2em;
    font-weight:    bold;
    margin:         6px;
}

.widget-title button {
    background:     @transparent;
    border-radius:  18px;
    padding:        10px 10px;
}

.widget-title button:hover {
    color:          @red;
}

.widget-title button:active {
    background:     alpha(@text, .2);
}

/* Buttons menu */
.widget-buttons-grid {
    color:          @text;
    padding:        1em;
    margin:         6px;
    border-radius:  1em;
    background:     linear-gradient(0deg,rgba(40, 40, 40, .55) 40%, rgba(45, 45, 45, .55) 100%);
    box-shadow:     -2px 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    margin:         6px;
    min-width:      72px;
    min-height:     24px;
    padding:        12px;
    border-radius:  1em;
    background:     alpha(@black, .4);
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    color:          @tint;
    background:     alpha(@black, .5);
}

.widget-buttons-grid > flowbox > flowboxchild > button:active {
    color:          @base;
    background:     alpha(@white, .2);
}

.widget-buttons-grid > flowbox > flowboxchild > button:checked {
    color:          @base;
    background:     alpha(@tint, .4);
}
