* {
    color:          @text;
    all:            unset;
    font-size:      14px;
    font-family:    "Inter";
    transition:     200ms;
}

.notification-row {
    outline:        none;
    margin:         0px 0px;
    padding:        0;
}

.close-button {
    color:          @text;
}

.floating-notifications.background .notification-row .notification-background {
    margin-right:   20px;
    margin-top:     20px;
    padding:        6px;
}

.floating-notifications.background .notification-row .notification-background .notification {
    background:     linear-gradient(0deg,rgba(40, 40, 40, .55) 40%, rgba(45, 45, 45, .55) 100%);
    color:          @text;
    border-radius:  10px;
    padding:        6px;
    margin:         8px;
    box-shadow:     2px 3px 8px 2px rgba(0, 0, 0, 0.2);
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
    border-right:   10px solid alpha(@yellow, .5);
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
    margin:         14px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
    min-height:     3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
    border-radius:  10px;
    background:     alpha(@text, .1);
    margin:         6px;
    border:         none;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
    background:     alpha(@white, .1);
    color:          @tint;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
    background:     alpha(@text, .2);
    color:          @text;
}

.image {
    margin:         10px 20px 10px 0px;
    min-width:      40px;
    min-height:     40px;
    color:          @text;
}

.summary {
    color:          @text;
    font-weight:    800;
    font-size:      1.2rem;
}

.body {
    color:          @text;
    font-size:      1rem;
}

.floating-notifications.background .notification-row .notification-background .close-button {
    margin:         0px 420px 0 0;
    padding:        4px;
    border-radius:  18px;
    border:         1px solid alpha(@text, .2);
    background:     @text;
    color:          @base;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
    background:     @white;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
    background:     @red;
    color:          @base;
}

.notification.critical progress {
    background:     @tint;
}

.notification.low progress,
.notification.normal progress {
    background:     @base;
}

.notification-icon {
    background:     @text;
    color:          @base;
}
