// Keybinds
// ──────────────
binds {
    // Applications / Shell
    // ──────────────
    Super+Shift+Alt+Ctrl+Space {
        spawn-sh "noctalia msg panel-toggle launcher"
    }

    Super+Shift+Alt+Ctrl+N {
        spawn-sh "noctalia msg panel-toggle control-center"
    }

    Super+Shift+Alt+Ctrl+M {
        spawn-sh "noctalia msg panel-toggle control-center media"
    }

    Super+Shift+Alt+Ctrl+Grave {
        spawn-sh "noctalia msg panel-toggle session"
    }

    // Launch
    Alt+1 { spawn "ghostty"; }
    Alt+2 { spawn "zen"; }
    Alt+3 { spawn "nautilus"; }
    Alt+4 { spawn "steam"; }
    Alt+5 { spawn "spotify-launcher"; }
    Alt+6 { spawn "discord"; }


    // Utilities
    // ──────────────
    Print {
        spawn-sh "~/.config/niri/bin/screenshot.sh"
    }

    Shift+Print {
        spawn-sh "~/.config/niri/bin/wf-record-toggle.sh"
    }

    F10 {
        spawn-sh "~/.repo/bin/es2-mic toggle"
    }

    Super+apostrophe {
        set-dynamic-cast-window
    }


    // Window Management
    // ──────────────
    Ctrl+Q {
        close-window
    }

    Super+F {
        maximize-column
    }

    F11 {
        fullscreen-window
    }

    Super+Shift+Alt+Ctrl+Tab {
        toggle-overview
    }

    Super+Shift+Alt+Ctrl+R {
        switch-preset-column-width
    }


    // Navigation - Columns / Workspaces
    // ──────────────

    // WASD
    Super+Shift+Alt+Ctrl+A { focus-column-left; }
    Super+Shift+Alt+Ctrl+D { focus-column-right; }
    Super+Shift+Alt+Ctrl+W { focus-workspace-up; }
    Super+Shift+Alt+Ctrl+S { focus-workspace-down; }

    // HJKL
    Super+Shift+Alt+Ctrl+H { focus-column-left; }
    Super+Shift+Alt+Ctrl+L { focus-column-right; }
    Super+Shift+Alt+Ctrl+K { focus-workspace-up; }
    Super+Shift+Alt+Ctrl+J { focus-workspace-down; }

    // Mouse wheel
    Super+Shift+Alt+Ctrl+WheelScrollUp cooldown-ms=150 {
        focus-workspace-up
    }

    Super+Shift+Alt+Ctrl+WheelScrollDown cooldown-ms=150 {
        focus-workspace-down
    }

    // Columns Start - End
    Super+Shift+Alt+Ctrl+BracketLeft    { focus-column-first; }
    Super+Shift+Alt+Ctrl+BracketRight   { focus-column-last; }

    // Direct workspace navigation
    // ──────────────
    Super+Shift+Alt+Ctrl+1 { focus-workspace 1; }
    Super+Shift+Alt+Ctrl+2 { focus-workspace 2; }
    Super+Shift+Alt+Ctrl+3 { focus-workspace 3; }
    Super+Shift+Alt+Ctrl+4 { focus-workspace 4; }
    Super+Shift+Alt+Ctrl+5 { focus-workspace 5; }
    Super+Shift+Alt+Ctrl+6 { focus-workspace 6; }
    Super+Shift+Alt+Ctrl+7 { focus-workspace 7; }
    Super+Shift+Alt+Ctrl+8 { focus-workspace 8; }
    Super+Shift+Alt+Ctrl+9 { focus-workspace 9; }
    Super+Shift+Alt+Ctrl+0 { focus-workspace 10; }


    // Movement - Columns / Workspaces
    // ──────────────

    // WASD
    Super+A { move-column-left; }
    Super+D { move-column-right; }
    Super+W { move-window-to-workspace-up; }
    Super+S { move-window-to-workspace-down; }
    Super+Shift+W { move-workspace-up; }
    Super+Shift+S { move-workspace-down; }

    // HJKL
    Super+H { move-column-left; }
    Super+L { move-column-right; }
    Super+K { move-window-to-workspace-up; }
    Super+J { move-window-to-workspace-down; }
    Super+Shift+K { move-workspace-up; }
    Super+Shift+J { move-workspace-down; }

    // Columns Start - End
    Super+BracketLeft    { move-column-to-first; }
    Super+BracketRight   { move-column-to-last; }

    // Direct workspace movement
    // ──────────────
    Super+1 { move-window-to-workspace 1; }
    Super+2 { move-window-to-workspace 2; }
    Super+3 { move-window-to-workspace 3; }
    Super+4 { move-window-to-workspace 4; }
    Super+5 { move-window-to-workspace 5; }
    Super+6 { move-window-to-workspace 6; }
    Super+7 { move-window-to-workspace 7; }
    Super+8 { move-window-to-workspace 8; }
    Super+9 { move-window-to-workspace 9; }
    Super+0 { move-window-to-workspace 10; }

    // Multimedia - Volume
    // ──────────────
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "noctalia msg volume-up"
    }

    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "noctalia msg volume-down"
    }

    XF86AudioMute allow-when-locked=true {
        spawn-sh "noctalia msg volume-mute"
    }


    // Multimedia - Actions
    // ──────────────
    XF86AudioNext allow-when-locked=true {
        spawn-sh "noctalia msg media next"
    }

    XF86AudioPause allow-when-locked=true {
        spawn-sh "noctalia msg media toggle"
    }

    XF86AudioPlay allow-when-locked=true {
        spawn-sh "noctalia msg media toggle"
    }

    XF86AudioPrev allow-when-locked=true {
        spawn-sh "noctalia msg media previous"
    }
}
