// Layer Rules
// ──────────────

layer-rule {
    match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"

    background-effect {
        xray false
        // blur false
    }
}

layer-rule {
    match namespace="noctalia-window-switcher"

    background-effect {
        blur true
        xray false
    }
}

// set wallpaper to backdrop layer
layer-rule {
  match namespace="^noctalia-wallpaper"
  place-within-backdrop true
}

overview {
    workspace-shadow {
        off
    }
}
