// Layout
// ──────────────
prefer-no-csd

layout {
    default-column-width { proportion 0.5; }
    always-center-single-column

    focus-ring {
        active-color "rgba(255, 255, 255, 0.5)"
    }
    background-color "transparent"
}
