include "config/output.kdl"
include "config/input.kdl"
include "config/layout.kdl"
include "config/autostart.kdl"
include "config/keybinds.kdl"
include "config/window-rules.kdl"
include "config/layer-rules.kdl"
include "config/effects.kdl"
