/* ──── Set Theme ──── */
@import '../themes/set-theme.css';


/* ──── Global Bar ──── */
window#waybar {
    background-color: alpha(@black, 0);
    border-radius: 0;
    transition: all 1s ease-out;
}


/* ──── Global Tooltip ──── */
tooltip  {
    background: transparent;
    border: none;
    text-shadow: none;
}
tooltip label{
    color: @text;
    border-radius: .3em;
    padding: .5em;
    background-color: alpha(@base, .9);
    border: 1px solid alpha(@text, .2);
}


/* ──── Global Spacing ──── */
.modules-left,
.modules-center,
.modules-right {
    padding: .5em .7em 0;
}


/* ──── General Module Style ──── */
#window,
#mpris,
#custom-expand-tray,
#tray,
#group-tray,
#wireplumber,
#privacy,
#bluetooth,
#temperature,
#custom-gpu-temp,
#group-audio,
#custom-ibus,
#group-datetime,
#clock,
#custom-notification {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
    border-radius: 0.7em;
    padding: 0 .5em;
    color: @text;
}


/* ──── Workspaces ──── */
#workspaces {
    margin-left: .4em;
    border-radius: 1em;
    margin: 0 .5em;
    transition: all 0.5s ease-in-out;
}

#workspaces button {
    color: @text;
    margin: 0;
    padding: 0.1em 0 0 0.4em;
    background-color: alpha(@text, 0);
    transition: all 0.5s ease-out;
}

#workspaces button.empty {
    color: @text;
    opacity: 0.3;
}

#workspaces button.special {
    color: @text;
}

#workspaces button.active {
    color: alpha(@tint, .8);
    opacity: 1;

}

#workspaces button:hover {
    color: @yellow;
    opacity: 1;
}


/* ──── Window Title ──── */

/* App Name */
#window {
    color: @text;
    font-weight: 700;
    margin: 0 .25em;
}

/* Title */
#window.title {
    color: alpha(@text, .8);
    font-family: "Inter";
    font-weight: 400;
    margin: 0;
    padding: 0;
}


/* ──── MPRIS ──── */
#mpris.paused {
    opacity: .5;
}


/* ──── Bluetooth ──── */
#bluetooth {
    margin: .25em;
}

#bluetooth.disabled {
    color: alpha(@text, 0.5);
}
#bluetooth.connected {
    color: @blue;
}
#bluetooth:hover {
    color: @tint;
}


/* ──── Tray Expand Icon ──── */
#custom-expand-tray {
    padding-right: .5em;
    opacity: .5;
}

#custom-expand-tray:hover {
    opacity: 1;
}

#custom-expand-tray.active {
    color: @tint;
}

/* ──── Group Style ──── */
#group-tray {
    margin: 0 .25em;
}

#group-tray:hover {
    background-color: alpha(@black, .3);
}

/* ──── ibus ──── */
#custom-ibus {
    margin: 0 .25em;
}

/* ──── Tray Icons ──── */
#tray {
    margin: 0 .25em;
    opacity: .7;
}


#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @tint;
}

#tray menu {
    background-color: @base;
}

#tray menu menuitem {
    color: @text;
    transition-duration: 0.3s;
}

#tray menu menuitem:hover {
    background-color: @tint;
    color: @base;
}


/* ──── Temperature CPU ──── */
#temperature.cpu,
#custom-gpu-temp {
    margin: 0 .25em;
    padding-top: .2em;
    font-family: "FiraCode Nerd Font";
    font-weight: bold;
}

#temperature.cpu:hover,
#custom-gpu-temp:hover {
    color: @text;
}

#temperature.cpu {
    color: @blue;
}

#custom-gpu-temp {
    color: @green;
}


/* ──── Wireplumber (Audio Icon) ──── */
#wireplumber {
    margin: 0 .25em;
}

#wireplumber:hover {
    color: @tint;
}

/* ──── PulseAudio Slider ──── */
#pulseaudio-slider {
    margin: 0.25em;
}

#pulseaudio-slider slider {
    min-height: 0;
    min-width: 0;
    opacity: 0;
    background-color: alpha(@white, 0);
    box-shadow: none;
    color: @text;
}

#pulseaudio-slider trough {
    min-height: .5em;
    min-width: 6em;
    border-radius: .3em;
    background-color: alpha(@black, .3);
}

#pulseaudio-slider highlight {
    min-width: .5em;
    border-radius: .3em;
    background-color: @tint;
}

/* ──── Pulse Audio (Volume %) ──── */
#pulseaudio {
    color: @text;
    min-width: 3em;
    padding-right: .3em;
}

/* ──── Audio Drawer Group ──── */
#group-audio {
    margin: 0 .25em;
}

#group-audio:hover {
    background-color: alpha(@text, 0.1);
}


/* ──── Privacy Icon ──── */
#privacy-item.screenshare,
#privacy-item.audio-in {
    margin: 0 .25em;
    color: alpha(@yellow, .8);
}


/* ──── Clock ──── */
#group-datetime {
    margin: 0 0.25em;
}


/* ──── Notification (Swaync) ──── */
#custom-notification {
    margin-right: 1em;
    margin-left: .25em;
    border-radius: .7em;
    padding: .1em .8em 0 .4em;
}

#custom-notification.dnd-none {
    color: alpha(@text, .5);
}

#custom-notification.notification,
#custom-notification.dnd-notification,
#custom-notification.inhibited-notification,
#custom-notification.dnd-inhibited-notification {
    color: @red;
}

#custom-notification:hover {
    color: @tint;
    background-color: alpha(@black, .3);
}
