/* ──── Set Theme ──── */
@import '../themes/set-theme.css';


/* ──── Global fonts ──── */
* {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
}

/* ──── Global Bar ──── */
window#waybar {
    background-color: alpha(@tint, 0.0);
    border-radius: 0;
}

/* ──── Global Tooltip ──── */
tooltip * {
    color: @text;
    text-shadow: none;
}
tooltip {
    background-color: @mixed;
}

/* ──── Global Modules ──── */
.modules-left,
.modules-center,
.modules-right {
    padding: .5em .7em;
}

/* ──── General Module Style ──── */
#mpris,
#custom-expand-tray,
#tray,
#group-tray,
#wireplumber,
#privacy,
#bluetooth,
#temperature,
#custom-gpu-temp,
#group-audio,
#custom-ibus,
#group-datetime,
#clock,
#custom-notification {
    transition: all 0.5s ease-in-out;
    border-radius: 0.7em;
    color: @text;
    padding: 0 .6em;
}


/* ──── Workspaces ──── */
#workspaces {
    margin-left: .4em;
    border-radius: .7em;
    padding: 0 .3em 0 .4em;
    transition: all 0.5s ease-in-out;
}

#workspaces button {
    color: @tint;
    margin: 0;
    padding: 0.1em 0 0 0.4em;
    background-color: alpha(@text, 0);
    transition: all 0.5s ease-out;
}

#workspaces button.empty {
    color: @text;
    opacity: 0.3;
}

#workspaces button.special {
    color: @tint;
}

#workspaces button.active {
    color: @text;
    opacity: 1;

}

#workspaces button:hover {
    color: @text;
    opacity: 1;
}


/* ──── Window Title ──── */
#window * {
    color: @text;
    padding: 0;
    margin-left: .8em;
    font-weight: 900;
}

window#waybar {
    transition: all 1s ease-out;
}


/* ──── MPRIS ──── */
#mpris.paused {
    opacity: .5;
}


/* ──── Bluetooth ──── */
#bluetooth.disabled {
    color: alpha(@text, 0.5);
}
#bluetooth.connected {
    color: @blue;
}
#bluetooth:hover {
    color: @tint;
}


/* ──── Tray ──── */
#custom-expand-tray {
    opacity: .5;
}

#custom-expand-tray:hover {
    opacity: 1;
}

#group-tray {
    background-color: alpha(@text, 0);
    border-radius: .7em;
}

#group-tray:hover {
    background-color: alpha(@base, .5);
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @tint;
}

#tray menu {
    background-color: @base;
}

#tray menu menuitem {
    color: @text;
    transition-duration: 0.3s;
}

#tray menu menuitem:hover {
    background-color: @tint;
}


/* ──── Temperature CPU ──── */
#temperature.cpu,
#custom-gpu-temp {
    padding-top: .2em;
    font-family: "FiraCode Nerd Font";
    font-weight: bold;
}

#temperature.cpu:hover,
#custom-gpu-temp:hover {
    color: @tint;
}

/* ──── Wireplumber (Audio Icon) ──── */
#wireplumber:hover {
    color: @tint;
}

/* ──── PulseAudio Slider ──── */
#pulseaudio-slider {
    padding-left: 0;
}
#pulseaudio-slider slider {
    min-height: 0;
    min-width: 0;
    opacity: 0;
    background-color: alpha(@text, 0);
    box-shadow: none;
    color: @text;
}

#pulseaudio-slider trough {
    min-height: .5em;
    min-width: 6em;
    border-radius: .3em;
    background-color: alpha(@base, 0.5);
}

#pulseaudio-slider highlight {
    min-width: .5em;
    border-radius: .3em;
    background-color: @tint;
}

/* ──── Pulse Audio (Volume %) ──── */
#pulseaudio {
    color: @text;
    min-width: 3em;
    padding-right: .3em;
}

/* ──── Audio Drawer Group ──── */
#group-audio {
    border-radius: .7em;
}

#group-audio:hover {
    background-color: alpha(@text, 0.1);
}

/* ──── Privacy Icon ──── */
#privacy-item.screenshare {
    color: @yellow;
}

#privacy-item.audio-in {
    color: @yellow;
}


/* ──── Clock ──── */
#group-datetime:hover {
    background-color: alpha(@base, 0.5);
}

#clock.date {
    color: @tint;
}

#clock.time:hover {
    color: @tint;
}


/* ──── Notification (Swaync) ──── */
#custom-notification {
    margin-right: .4em;
    border-radius: .7em;
    padding: 0 .8em 0 .8em;
}

#custom-notification:hover {
    color: @tint;
    background-color: alpha(@base, 0.1);
}
